<div>
    {{#if warriors}}
        <h1>Wybierz dwóch wojowników którzy stoczą epicką walkę na arenie</h1>
        <form action="/arena" method="POST">
            <label>
                Pierwszy wojownik:
                <select name="warrior1">
                    <option disabled selected value> -- wybierz wojownika -- </option>
                    {{#each warriors}}
                        <option value="{{this.id}}">{{this.name}}</option>
                    {{/each}}
                </select>
            </label>
            <label>
                Drugi Wojownik:
                <select name="warrior2">
                    <option disabled selected value> -- wybierz wojownika -- </option>
                    {{#each warriors}}
                        <option value="{{this.id}}">{{this.name}}</option>
                    {{/each}}
                </select>
            </label>
            <button>ATAK!</button>
        </form>
        {{> go-home}}
    {{else}}
        <h1>Nie masz żadnych wojowników lub masz tylko jednego. <a href="/warrior/form">Stwórz</a></h1>
        {{> go-home}}
    {{/if}}
</div>